
/*             */

.nav-Hyperlink {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}


.booth {
    width: 400px;
    background-color: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
}

.booth-capture-button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

#canvas {
    display: none;
}

.HomeImages {
    display: block;
    margin: 13px auto auto auto;
    /*margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;*/
    position: center;
    height: 100%;
    width: 100%;
    padding: 30px;

}


